body {
    background-color: #1e1e1e;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}

header {
    min-height: 70px;
    background-color: #1e1e1e;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-area {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    align-content: space-around;
}

body .content {
    margin: 50px;
    background-color: #27292a;
    padding: 60px;
    border-radius: 23px;
    display: flex;
    gap: 40px 0px;
    justify-content: space-around;
    flex-direction: column;
}

.content-area {
    background-color: #1e1e1e;
    padding: 60px;
    border-radius: 23px; 
}

.text-hl {
    color: #ec6090;
}

/* !!!
.main-banner h6 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    
} */