/* main areas */

body {
    background-color: #27292a;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: medium;
    counter-reset: h2counter;
}


/* minor areas */

.section {
    background-color: #1e1e1e;
    padding: 60px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 15px;
    margin: 30px;

}

.top-area {
    /* background-image: url('images/top-image.jpg'); */
    /* image from feepik.com */
    /* background-repeat: no-repeat;
    background-size: cover; */
    max-width: 100%;
    /* min-height: 200px; */
    height: 10%;
    filter: saturate(40%);
    /* padding-left: 40px; */
}

.text {
    background-color: #27292a;
    border-radius: 23px;
    padding: 10px 40px 10px 40px;
}

/* headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-family: 'Lilita One';
    font-weight: normal;
}


#title {
    text-align: center;
    margin-bottom: 20px;
}

a.pink {
    color: #ec6090;
}

h2 {
    counter-reset: h3counter;
    color: #ec6090;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

h4 {
    color: #ec6090;
}

.content h2::before {
    counter-increment: h2counter;
    content: counter(h2counter) ".";
    margin-right: 0.5em;
}

.content h3::before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".";
}